### GET Health
GET https://api-parcial1-ciu.lglab.com.ar/health

### GET sessions
GET https://api-parcial1-ciu.lglab.com.ar/chat/session/

### Create session
POST https://api-parcial1-ciu.lglab.com.ar/chat/session/
Content-Type: application/json

{
    "lang": "en-US",
    "model": "GPT"
}

### Send prompt
POST https://api-parcial1-ciu.lglab.com.ar/chat/475d3b16-d5c2-4404-9175-9ab62d2d149c/prompt
Content-Type: application/json

{
    "prompt": "Hello"
}