### GET Health
GET http://localhost:5000/health

### GET sessions
GET http://localhost:5000/chat/session/


### Create session
POST http://localhost:5000/chat/session/
Content-Type: application/json

{
    "lang": "en-US",
    "model": "GPT"
}

### Send prompt
POST http://localhost:5000/chat/1215ec9c-6395-4e35-ad1f-af8894f3c570/prompt
Content-Type: application/json

{
    "prompt": "Hello"
}
