@import "../../globals.scss";

.institute {
  &__title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__careers {
    display: flex;
    flex-direction: column;
    gap: $padding;
  }
}
