@import "../../globals.scss";

.forum-message {
  background-color: color("background-card");
  border-radius: $radius;
  padding: $padding;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto auto auto 1.5em;
  grid-template-areas:
    "info"
    "title"
    "content"
    "attachments"
    "counters";

  &__counters {
    grid-area: counters;
    display: flex;
    .badge {
      margin-right: 20px;
    }
  }

  &__title {
    grid-area: title;
  }

  &__content {
    grid-area: content;
  }

  &__attachments {
    grid-area: attachments;
  }

  &__info {
    grid-area: info;
    display: flex;
    align-items: center;

    .forum-message__picture {
      max-height: 100%;
      border-radius: 100%;
      margin-right: 10px;
    }

    .forum-message__time {
      color: color("text-secondary");
      margin: 0 5px;
    }

    .forum-message__pin {
      max-height: 1rem;
    }
  }

  &__favorite {
    grid-area: favorite;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    svg {
      font-size: 5em;
    }
  }

  blockquote {
    padding-left: 20px;
    border-left: solid 5px #747474;
  }
}
