@import "./globals.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  background-color: color("background");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: color("background-dark");
  border-radius: $radius;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color("scroll");
  border-radius: $radius;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten(color("scroll"),3);
}