@import "../../globals.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: color("background");

  nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding;
    box-sizing: border-box;

    span {
      display: flex;
      gap: $padding;
    }

    a {
      color: color("text-primary");
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 1.5rem;

      .header-icon {
        font-size: 2rem;
        margin-right: 10px;
      }
    }

    img {
      max-height: 50px;
      border-radius: 100%;
      border: solid 1px color("text-primary");
    }
  }
}
