@import "../../globals.scss";

.chat {
  grid-area: chat;
  background-color: color("background");
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  height: 100dvh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 70px;
  grid-template-areas: "header"
                       "conversation"
                       "messageBox";
}
